{% extends "layout.html" %}

{% block head %}

{% endblock %}
{% block body %}


<section class="text-light p-5 p-lg-0 p-md-5 text-center text-sm-start" style="background-color: rgb(9, 16, 51);">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>All in one place<div class="span text-warning">BEST PLACE FOR SHOPPING</div>
                </h1>
                <a class="btn-primary btn-lg" style="text-decoration:none" href="/registerForm">Register Now</a>
            </div>

            <img class="img-fluid w-50 d-none d-sm-block my-2"
                src="{{ url_for('static',filename='images/undraw_shopping_app_flsj.svg' ) }}" alt="">
        </div>
    </div>
</section>

<section id="category" class="p-3" style="background-color: rgb(102, 120, 179);">
    <div class="container">

        <h4>Shop by <span class="text-light">CATEGORY</span></h4>
        <div class="row g-2">
            {% for row in categoryData %}
            <div class="col-md-6 col-lg-3">
                <div class="card bg-dark text-light h-100">
                    <div class="card-body text-center">
                        <a href="/displayCategory?categoryId={{row[0]}}" style="text-decoration:none">
                            <p id="categoryTag" class="card-text text-light">{{ row[1] }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<section id="product" class="p-5 bg-light text-dark">
    <div class="container">
        <h2 class="text-center text-dark pb-5">Our Products</h2>
        <div class="row g-4">
            {% for data in productsDetails %}
            {% for product in data %}
            <div class="col-md-6 col-lg-3">
                <div class="card bg-dark text-light h-100">
                    <a href="/productDescription?product_id={{product[0]}}"><img
                            src="{{ url_for('static', filename='uploads/' + product[4]) }}" class="card-img-top mb-3"
                            alt="..."></a>
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">{{ product[1] }}</h3>
                        <p class="card-text">{{ product[3] }}</p>
                        <h6 class="text-warning">${{ product[2] }}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>


    </div>
</section>



{% endblock %}