{% extends "layout.html" %}

{% block head %}
<!-- <title>{{ categoryName }}</title> -->
{% endblock %}
{% block body %}
<section id="" class="p-5 bg-light text-dark">
    <div class="container">
       
         <h2 class="text-center text-dark pb-5">Details of {{ productData[1] }}</h2>
         <div class="row g-4">
             
            <div class="col-md-6 h-100">
                    <img src="{{ url_for('static', filename='uploads/'+productData[4]) }}" class="card-img-top mb-3 img-fluid"
                        alt="...">
            </div>
            <div class="col-md-6">
                <div class="container bg-light">
                    <div class="justify-content-center">
                        <h3 class="card-title mb-3">{{ productData[1] }}</h3>
                        <p class="card-text">{{ productData[3] }}</p>
                        <h6><span>Price : </span>${{ productData[2] }}</h6>
                        <h6><span>Available Quentiy : </span>{{ productData[5] }}</h6>
                    </div>
                    <div id="buttonDiv">
                        <a href="" class="btn btn-outline-dark mt-2">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}